* {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  position: relative;
}

h2 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
}

h3 {
  font-size: 16px;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000;
}

.card {
  background: white;
  border-radius: 18px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14);
  position: relative;
}

.card a {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
}

.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__content .card__title {
  margin-bottom: 5px;
}

.card__content .card__subtitle {
  font-size: 14px;
}

.card__content .card__stars {
  font-size: 12px;
  color: #0065fc;
}

.card__content .card__stars .fa-star--empty {
  color: #f2f2f2;
}

.card__img--full {
  height: 110px;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}

.card__img--full img {
  width: 100%;
  position: relative;
  top: -50%;
}

.see-more {
  padding-top: 20px;
  font-size: 18px;
}

header {
  background: white;
  padding: 30px 0 0;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}

header .nav__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav__header .logo {
  width: 100px;
}

header .nav__header ul .subscription a {
  font-weight: 700;
  color: #0065fc;
}

header .nav__header ul .hidden-mobile {
  display: none;
}

header .nav__sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

header .nav__sections div {
  width: 50%;
  text-align: center;
  border-bottom: 3px solid #f2f2f2;
  padding: 10px 0;
}

header .nav__sections .active {
  border-bottom-color: #0065fc;
}

header .nav__sections .active a {
  color: #0065fc;
}

.hero {
  padding: 162px 0 30px 0;
}

.hero h1 {
  font-size: 22px;
  margin-bottom: 10px;
}

.hero .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #f2f2f2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  height: 50px;
  margin: 30px 0;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
}

.hero .search__location-input {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .search .icon-location {
  background: #f2f2f2;
  width: 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .search input {
  border: none;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 700;
}

.hero .search input::-webkit-input-placeholder {
  color: black;
  font-family: "Raleway", sans-serif;
}

.hero .search input:-ms-input-placeholder {
  color: black;
  font-family: "Raleway", sans-serif;
}

.hero .search input::-ms-input-placeholder {
  color: black;
  font-family: "Raleway", sans-serif;
}

.hero .search input::placeholder {
  color: black;
  font-family: "Raleway", sans-serif;
}

.hero .search input:focus {
  outline: none;
}

.hero .search input:focus::-webkit-input-placeholder {
  color: transparent;
}

.hero .search input:focus:-ms-input-placeholder {
  color: transparent;
}

.hero .search input:focus::-ms-input-placeholder {
  color: transparent;
}

.hero .search input:focus::placeholder {
  color: transparent;
}

.hero .search .icon-search {
  background: #0065fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 50px;
  border-radius: 12px 0 0 12px;
}

.hero .search .icon-search i {
  color: white;
}

.hero .search .text-search {
  display: none;
}

.hero .section-filters p {
  font-size: 18px;
  font-weight: 700;
}

.hero .section-filters .filters {
  margin: 15px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero .section-filters .filters .filter {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  border: 2px solid #f2f2f2;
  padding: 15px 15px 15px 0;
  margin: 0 8px 10px 0;
  font-weight: 700;
}

.hero .section-filters .filters .filter__icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #0065fc;
  background: #deebff;
}

.hero .section-filters .filters .filter span {
  padding-left: 10px;
}

.hero .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.hero .info .icon-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid #f2f2f2;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
  color: #0065fc;
}

.hero .info p {
  padding: 5px 0px 0 10px;
}

section {
  padding: 30px 0;
}

.section--hebergements {
  scroll-margin-top: 110px;
  padding-top: 0;
}

.section--hebergements .popular--card {
  background: #f2f2f2;
}

.section--hebergements .popular {
  padding: 40px 0 20px;
}

.section--hebergements .popular .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.section--hebergements .popular .title h2 {
  margin-bottom: 0;
}

.section--hebergements .popular .title i {
  font-size: 24px;
}

.section--hebergements .popular .card--popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  height: 140px;
}

.section--hebergements .popular .card--popular .card__img {
  height: 100%;
  width: 130px;
  border-radius: 15px 0 0 15px;
}

.section--hebergements .popular .card--popular #popularImg1 {
  background: url("../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg") no-repeat center;
}

.section--hebergements .popular .card--popular #popularImg2 {
  background: url("../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg") no-repeat center;
}

.section--hebergements .popular .card--popular #popularImg3 {
  background: url("../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg") no-repeat center;
}

.section--hebergements .popular .card--popular #popularImg1,
.section--hebergements .popular .card--popular #popularImg2,
.section--hebergements .popular .card--popular #popularImg3 {
  background-size: cover;
}

.section--hebergements .popular .card--popular .card__content {
  padding: 10px 0 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section--hebergements .popular .card--popular .card__content .card__title {
  margin-bottom: 5px;
}

.section--hebergements .popular .card--popular .card__content .card__subtitle {
  font-size: 14px;
}

.section--hebergements .popular .card--popular .card__content .card__stars {
  font-size: 12px;
  color: #0065fc;
}

.section--hebergements .marseille {
  background-color: #fff;
  padding-top: 30px;
}

.section--hebergements .marseille .card {
  padding: 5px;
  margin-bottom: 10px;
}

.section--hebergements .marseille .card #hebergementImage1 {
  background: url("../images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg") no-repeat center;
}

.section--hebergements .marseille .card #hebergementImage2 {
  background: url("../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg") no-repeat center;
}

.section--hebergements .marseille .card #hebergementImage3 {
  background: url("../images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg") no-repeat center;
}

.section--hebergements .marseille .card #hebergementImage4 {
  background: url("../images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg") no-repeat center;
}

.section--hebergements .marseille .card #hebergementImage5 {
  background: url("../images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg") no-repeat center;
}

.section--hebergements .marseille .card #hebergementImage6 {
  background: url("../images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg") no-repeat center;
}

.section--hebergements .marseille .card #hebergementImage1,
.section--hebergements .marseille .card #hebergementImage2,
.section--hebergements .marseille .card #hebergementImage3,
.section--hebergements .marseille .card #hebergementImage4,
.section--hebergements .marseille .card #hebergementImage5,
.section--hebergements .marseille .card #hebergementImage6 {
  background-size: cover;
}

.section--hebergements .marseille .card__content {
  padding: 10px 10px 5px;
}

.section--hebergements .marseille .card__content .card__subtitle {
  margin-bottom: 5px;
}

.section--activites {
  scroll-margin-top: 120px;
}

.section--activites h2 {
  margin-bottom: 25px;
}

.section--activites .card {
  margin-bottom: 25px;
}

.section--activites .card #activiteImage1 {
  background: url("../images/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg") no-repeat;
}

.section--activites .card #activiteImage2 {
  background: url("../images/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg") no-repeat;
  background-position: center top 40%;
}

.section--activites .card #activiteImage3 {
  background: url("../images/activites/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg") no-repeat;
}

.section--activites .card #activiteImage4 {
  background: url("../images/activites/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg") no-repeat;
}

.section--activites .card #activiteImage5 {
  background: url("../images/activites/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg") no-repeat;
}

.section--activites .card #activiteImage6 {
  background: url("../images/activites/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg") no-repeat;
}

.section--activites .card #activiteImage1,
.section--activites .card #activiteImage2,
.section--activites .card #activiteImage3,
.section--activites .card #activiteImage4,
.section--activites .card #activiteImage5,
.section--activites .card #activiteImage6 {
  background-size: cover;
}

.section--activites .card #activiteImage1,
.section--activites .card #activiteImage3,
.section--activites .card #activiteImage4,
.section--activites .card #activiteImage5,
.section--activites .card #activiteImage6 {
  background-position: center top 20%;
}

.section--activites .card__img--full {
  height: 135px;
}

.section--activites .card__title {
  padding: 25px 15px 15px;
}

footer {
  background-color: #f2f2f2;
  padding: 50px 0 10px;
}

footer h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

footer ul {
  margin-bottom: 40px;
}

footer ul li {
  margin-bottom: 14px;
}

@media (min-width: 480px) {
  .marseille__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .marseille__cards .card {
    width: 245px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (min-width: 576px) {
  .section--hebergements .popular__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section--hebergements .popular__cards .card--popular {
    width: 500px;
    margin: 10px;
  }
}

@media (min-width: 768px) {
  header .nav__header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .nav__header ul li {
    padding: 0 30px;
  }
  header .nav__header ul .hidden-mobile {
    display: block;
  }
  header .nav__header ul .subscription {
    padding-right: 0;
  }
  header .nav__header ul .item-active {
    position: relative;
  }
  header .nav__header ul .item-active::before {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #0065fc;
    top: -46px;
    left: 0;
  }
  header .nav__header ul .item-active a {
    color: #0065fc;
  }
  header .nav__sections {
    display: none;
  }
  .hero {
    padding-top: 110px;
  }
  .hero .search {
    margin: 20px 0;
  }
  .hero .search .icon-search {
    display: none;
  }
  .hero .search .text-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 120px;
    color: white;
    background-color: #0065fc;
    height: 100%;
  }
  .section--hebergements {
    scroll-margin-top: 80px;
  }
  .marseille__cards-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .marseille__cards-row:first-child {
    margin-bottom: 20px;
  }
  .section--activites {
    scroll-margin-top: 90px;
  }
  .section--activites .card__title {
    padding: 15px;
  }
  .section--activites .activites__cards {
    margin: 0 auto 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 650px;
    height: 450px;
  }
  .section--activites .activites__cards .card-full {
    width: 50%;
    height: 100%;
    margin-right: 45px;
  }
  .section--activites .activites__cards .card-full .card__img--full {
    height: 397px;
  }
  .section--activites .activites__cards .activites__small-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%;
  }
  .section--activites .activites__cards .activites__small-cards .card:first-child {
    height: 240px;
  }
  .section--activites .activites__cards .activites__small-cards .card:first-child .card__img--full {
    height: 180px;
  }
  .section--activites .activites__cards .activites__small-cards .card:last-child {
    height: 165px;
  }
  .section--activites .activites__cards .activites__small-cards .card:last-child .card__img--full {
    height: 112px;
  }
  .section--activites .activites__cards .activites__small-cards .card {
    margin: 0;
  }
  footer .footer-items-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1030px;
  }
}

@media (min-width: 992px) {
  .hero .section-filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px 0;
  }
  .hero .section-filters .filters {
    margin: 0 0 0 30px;
  }
  .hero .section-filters .filters .filter {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 40px;
  }
  .activites-cards-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container {
    max-width: 1280px;
  }
  .section--hebergements {
    max-width: 1280px;
    padding: 0px 40px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section--hebergements .container {
    padding: 0;
  }
  .section--hebergements .marseille {
    width: 880px;
    padding: 35px;
    background-color: #f2f2f2;
    border-radius: 20px;
  }
  .section--hebergements .marseille .card {
    margin: 0;
  }
  .section--hebergements .popular--card {
    padding: 40px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    border-radius: 20px;
  }
  .section--hebergements .popular--card .popular {
    padding: 0;
  }
  .section--hebergements .popular--card .card {
    width: 350px;
  }
}
/*# sourceMappingURL=main.css.map */